@import url(http://fonts.googleapis.com/css?family=Gabriela);

html, body {
  height: 100%;
  min-height: 100%;
  background: url("chrome://global/skin/media/imagedoc-darknoise.png") fixed;
}

body {
  background: url(../images/backgrounds/architecture.jpg) center no-repeat;
  background-size: 443px 772px;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

.wrapper {
  margin: 0 auto;
  padding-top: 10px;
  width: 266px;
  padding-bottom: 40px;
  text-align: center;
}



#content {
  height: 100%;
  padding: 10px;
  background: rgba(255,255,255,.85);
  text-align: start;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Gabriela', serif;
  color: #fff;
}

h1 { 
  font-size: 1.0em;
  line-height: 1em;
  letter-spacing: .03em;
  margin: 0;
}

h2 {
  font-size: 0.6em;
  margin: 0;
}

h3 {
  margin: 0;
  font-family: 'Gabriela', serif;
  font-size: 0.5em;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

p {
  margin: 2px;
  font-size: 0.3em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1042px) {
  .wrapper {
    width: 80%;
  }
}

@media only screen and (max-width: 784px) {
  body {
    font-size: 120%;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1em;
  }
  .wrapper {
    width: 95%;
  }
}
